[Interface]
Address = {{ client_net }}.2/32
PrivateKey = {{ client_private_key }}

[Peer]
PublicKey = {{ server_public_key }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ ansible_default_ipv4.address }}:{{ wg_port }}
PersistentKeepalive = 20
